body{
    background-color: brown;
}
.pagina{
    display: flex;
    width: 1200px;
    justify-content: space-between;
}
nav{
    display: flex;
    width: 300px;
    background-color: blueviolet;
    justify-content: flex-start;
    flex-direction: column;
}
.contenido {
    display: flex;
    width: 800px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.wrap {
    display: flex;
    width: 800px;
    height: 200px;
    background-color: coral;
    justify-content: space-between;
    align-items: center;
}
.item {
    width: 150px;
    height: 150px;
}
img{
    width: 150px;
    height: 150px;
    border: 1px solid black;
}